<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="VR" src="{{ "/assets/img/woman-and-virtual-reality.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Virtual Reality Tutorial 1</h3>
    <p>Tutorial on how to get started with the HTC Vive and Unity.</p> 
    <p>This tutorial has been put together for the Oxford VR/AR Hub Summer School, held in Oxford in June 2018.</p>
    <p>In this tutorial you will learn:</p>
    <ul>
      <li> How to setup a scene in Unity with interface to the HTC Vive</li>
      <li> How to use the controlles input and interact with objects in the scene</li>
      <li> How to create a laser pointer</li>
      <li> How to teleport in the scene</li>
    </ul>
    <a class="project-link" href="vr_tutorial_vive.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="VR" src="{{ "/assets/img/woman-and-virtual-reality-2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Virtual Reality Tutorial 2</h3>
    <p>Tutorial to learn how to setup a Unity project that works with the HTC Vive and allows to connect severla users over the network.</p> 
    <p>In this tutorial you will learn:</p>
    <ul>
      <li> How multiplayer games can be built with Unity</li>
      <li> How to use the Unity Multiplayer service</li>
      <li> How to build a VR multuplayer app</li>
    </ul>
    <a class="project-link" href="vr_tutorial_vive_network.html">Check it out</a>
  </div>
</div>
